.category {
    display: flex;
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 15px;
    margin: 20px;
    justify-content: space-around;
}
.category .img {
    width: 300px;
    height: 330px;
}
.boxdata {
    width: 280px;
    padding: 5px;
    margin: 5px;
    font-family: monospace;
}
.category .box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 1;
    width: 310px;
    box-shadow: 2px 2px 2px 2px black;
}
.catcontainer  {
    min-height: 70vh;
}
.catcontainer h1{
    color: rgb(198, 224, 224);
    text-align: center;
    padding: 20px;
    width: fit-content;
    font-size: 45px;
    font-family: cursive;
    margin: 10px auto;
    background-color: rgb(28, 48, 85);
    text-shadow: 3px 3px black;
    border: 2px solid black;
    border-radius: 10px;
}