.model {
    margin: 5% auto;
    background-color: honeydew;
    border: 3px solid black;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
}
.model input {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: larger;
    font-family: monospace;
    font-weight: 900;
    border: 1px solid black;
}
.model button {
    padding: 5px 10px;
    margin: 5px 10px;
    border: 2px solid black;
    font-size: larger;
    border-radius: 10px;
}